<nav class="nav" role="navigation">
  <a class="nav-home" href="/">Mig Reyes<span class="hide-desktop"> is a designer</span></a>

  <div class="nav-links">
    <button class="nav-links-trigger" data-menu="closed">Menu</button>

    <ul class="nav-links-list">
      <li><a class="nav-link-about" href="/is/">About</a></li>
      <li><a class="nav-link-portfolio" href="/makes/">Work</a></li>
      <li><a class="nav-link-writes" href="/writes/">Essays</a></li>
      <li><a class="nav-link-loves" href="/loves/">Resources</a></li>
    </ul>
  </div>

  <div class="nav-title">
    <p>
      Design Lead<br>
      Trunk Club
    </p>

    <p><span style="color: #CCC;">/</span></p>
    
    <p>
      President<br>
      AIGA Chicago
    </p>
  </div>

  <div class="nav-contact">
    {% comment %}
    <h5>Mail</h5>
    <address>
      Mig Reyes c/o Basecamp<br>
      30 N. Racine Ave.<br>
      Suite 200<br>
      Chicago, IL 60607
    </address>
    {% endcomment %}

    <h5>Email</h5>
    <script src="/assets/javascript/plugins/email.js"></script>

    <h5>Instagram</h5>
    <a href="{{ site.instagram }}" title="@migreyes">@migreyes</a>

    <h5>Twitter</h5>
    <a href="{{ site.twitter }}" title="@migreyes">@migreyes</a>
  </div>
</nav>