<!-- jquery.wanker.js: http://mig.io/makes/wanker -->
<div class="wanker" data-wanker>
  <div class="wanker-content">
    <p>The web was meant to be <a href="/makes/wanker">read, not squished.</a></p>

    <img class="wanker-finger" src="/assets/images/wanker/finger.png">

    <figure class="wanker-hole">
      <img class="wanker-pinch" src="/assets/images/wanker/hole-pinch.png">
      <img class="wanker-spread" src="/assets/images/wanker/hole-spread.png">
    </figure>

    <img class="wanker-poop" src="/assets/images/wanker/poop.png">
  </div>
</div>